{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Avalon full-width responsive template</title>
<!-- 
Avalon Template 
http://www.templatemo.com/tm-513-avalon
-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/hero-slider.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>

<body>

    <section class="banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="left-banner-content">
                        
                        <div class="text-content">
                            <div class="line-dec"></div>
                            <div class="white-border-button">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="right-banner-content">
                        <div class="logo"><a href="index.html"><img src="{% static 'img/photo1.jpg' %}" alt=""></a></div>
                        <h3>Environmental Sustainability</h3>
                        <div class="line-dec"></div>
                        <h4>Recycling has the potential to significantly reduce the environmental impact of waste disposal.This could lead to reduced landfill waste, decreased resource depletion, and lower energy consumption, ultimately contributing to a more sustainable planet.</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="best-offer" id=best-offer-section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="best-offer-left-content">
                        <div class="icon"><img src="{% static 'img/photo2.jpg' %}" alt=""></div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="best-offer-right-content">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <h1>Textile Recycling</h1>
                                <h3>Recycled Fabrics are used clothing and textiles can be broken down and reprocessed into recycled fibers that are used to make new clothing, carpets, insulation, and more. There are other types of recycling that yields useful products. They are listed as follows</h3>
                                <ul>
                                    <h4>Metal Recycling.</h4>
                                    <h4>Paper Recycling .</h4>
                                </ul>
                                <div class="pink-button">
                                    <a href="#" class="scroll-link" data-id="events-section">Discover More</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">    
                                <img src="{% static 'img/photo3.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="events" id="events-section">
        <div class="content-wrapper">
            <div class="inner-container container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="section-heading">
                            <div class="filter-categories">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-12 col-md-offset-1">
                        <div class="projects-holder">
                            <div class="event-list">
                                <ul>
                                    <li class="project-item first-child mix web">
                                        <ul class="event-item web">
                                            <li>
                                                <div class="date">
                                                    <span>1. </span>
                                                </div>
                                            </li>
                                            <li>
                                                <h2>Metal Recycling</h2>
                                                <div class="web">
                                                    <span>Metal recycling focuses on collecting and processing various metals, including aluminum, steel, and copper. The metals are sorted, melted, and formed into new metal products.</span>
                                                </div>
                                            </li>
                                            <li>
                                            </li>
                                            <li>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="project-item second-child mix design">
                                        <ul class="event-item design">
                                            <li>
                                                <div class="date">
                                                    <span>2. </span>
                                                </div>
                                            </li>
                                            <li>
                                                <h2>Paper Recycling</h2>
                                                <div class="design">
                                                    <span>Paper recycling involves collecting and processing paper products like newspapers, magazines, cardboard, and office paper to create new paper products. The process typically includes cleaning, pulping, and reconstituting the paper fibers to make new paper.</span>
                                                </div>

                                                </div>

                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </section>
    <section class="services" id="services-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper first-service">
                            <div class="front">
                                <div class="icon">
                                    <img src="{% static 'img/photo6.jpg' %}" alt="">
                                </div>
                                <h4>Awareness of the importance of Recycling</h4>
                            </div>
                            <div class="back">
                                <p>
                                    Recycling is of paramount importance for several reasons, as it has far-reaching environmental, economic, and social benefits.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper second-service">
                            <div class="front">
                                <div class="icon">
                                    <img src="{% static 'img/photo7.jpg' %}" alt="">
                                </div>
                                <h4>Recycled Plastic</h4>
                            </div>
                            <div class="back">
                                <p>Recycling plastic reduces dependence on fossil fuels, conserves energy, and mitigates plastic pollution. The process involves collection, shredding, melting, extrusion and manufacturing</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper third-service">
                            <div class="front">
                                <div class="icon">
                                    <img src="{% static 'img/photo8.jpg' %}" alt="">
                                </div>
                                <h4>Products Derived from plastic recyclng</h4>
                            </div>
                            <div class="back">
                                <p>Recycled Plastic Resin (Recycled Plastic Pellets):

                                    Recycled plastic resin is the primary product of plastic recycling. It is used as a raw material in the manufacturing of a wide range of plastic products.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper fourth-service">
                            <div class="front">
                                <div class="icon">
                                    <img src="{% static 'img/photo9.jpg' %}" alt="">
                                </div>
                                <h4>Final Products from plastic Recycling</h4>
                            </div>
                            <div class="back">
                                <p>Toys and Sporting Goods:

                                    Many plastic toys and sporting equipment items are produced using recycled plastics due to their cost-effectiveness and lightweight properties. Also a water bottled toy is derived from plastic recycling</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-us" id="contact-section"> 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-md-4">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required>
                              </fieldset>
                            </div>
                            <div class="col-md-4">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required>
                              </fieldset>
                            </div>
                             <div class="col-md-4">
                              <fieldset>
                                <input name="home address" type="text" class="form-control" id="subject" placeholder="home address..." required>
                              </fieldset>
                            </div>
                            <div class="col-md-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="btn">Send it now</button>
                              </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="contact-right-content">
                        <div class="icon"><img src="{% static 'img/photo4.jpg' %}" alt=""></div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function() 
	{
        // navigation click actions 
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');         
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
    </script>
</body>
</html>
{% endblock %}